.abstract {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.title {

}

.landing-background {
  background: url("images/books4.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#add-review-form-submit, #edit_submit, #navbar_top {
  background-color: #21BA45;
  color: white;
}

#footer_bottom {
  background-color: #21BA45;
  color: white;
  margin-top: 20px;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
}