.abstract {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.title {

}

.landing-background {
  background: url("images/books4.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 590px;
}

#add-review-form-submit, #edit-review-form-submit, #edit_submit, #navbar_top {
  background-color: #21BA45;
  color: white;
}

#add-paper-submit, #edit-paper-submit {
  background-color: #2185d0;
  color: white;
}

#footer_bottom {
  background-color: #21BA45;
  color: white;
  margin-top: 20px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  /*left: 0;*/
  width: 100%;
  z-index: 7000;
}

#switch_body {
  padding-bottom: 100px;
}